/* ToDo.Frontend/src/index.css */

body {
    background-color: #121212;
    color: #ffffff;
  }
  
  h1 {
    color: #FF9800;
    font-weight: bolder;
  }
  
  h2 {
    color: #FF9800;
  }
  
  .App {
    /* max-width: 600px; */
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #1E1E1E;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #333;
    margin-bottom: 10px;
    background-color: #333;
    color: #ffffff;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #282828;
  }
  
  .card {
    background-color: #34495e;
    border: none;
    color: #ecf0f1;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    background-color: #1abc9c;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f39c12;
    transition: color 0.3s ease;
  }
  
  /* Card title hover effect */
  .card:hover .card-title {
    color: #ffffff;
  }